@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

main {
    background-color: rgb(53, 27, 27);
}

/* Inicio */

/* Header */
.bg-light {
    background-color: black !important;
}

.navbar-brand {
    background-color: black;
    color: white;
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
}

/* Animacion */
.navbar-brand:hover {
    color: #CA054D;
}

.navbar-toggler-icon {
    background-color: #CA054D;
}

.container-fluid {
    background-color: black;
}

.nav-link.active {
    color: white !important;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}

/* Animacion */
.nav-link.active:hover {
    color: #CA054D !important;
}

/* Bloque descripcion */
.bloque_descripcion {
    border: 1px #CA054D solid;
    border-radius: 6px;
}

.bloque_descripcion p {
    margin: 0px;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Footer */
.footer {
    background-color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
}

.logo_the_weeknd_footer {
    width: 45px;
    height: 45px;
    margin: 5px 0px 16px 0px;
}

.footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.footer ul li {
    margin: 0px 16px;
}

.imagen_footer {
    width: 35px;
    height: 35px;
}

.spotify_logo {
    width: 85px;
    height: 35px;
}

.footer div p {
    color: white;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* MediaQuerys */
/* Estrategia : Mobile First */

/* Dispositivos medianos (desktop) */
@media(min-width: 768px) {
    .me-auto {
        margin-right: 0px !important;
    }

    .navbar-collapse {
        justify-content: flex-end;
    }
}

/* Conciertos */

.titulo_conciertos{
    color: white;
    font-family: 'Pacifico', cursive;
}


.grid_container_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "Concierto_1_grande Concierto_1_grande Concierto_1_grande Concierto_1_grande"
        "Concierto_1_grande Concierto_1_grande Concierto_1_grande Concierto_1_grande"
        "Concierto_1 Concierto_1 Concierto_2 Concierto_2"
        "Concierto_3 Concierto_3 Concierto_3 Concierto_3"
        "Concierto_4 Concierto_4 Concierto_5 Concierto_5"
        "Concierto_6 Concierto_6 Concierto_6 Concierto_6";
    border: 1px #CA054D solid;
    background-color: black;
    border-radius: 5px;
}

.Concierto_1_grande {
    grid-area: Concierto_1_grande;
    margin: 0px;
}

.Concierto_1_grande img {
    margin: 10px 0px 5px 0px;
}

/* Animacion */
.Concierto_1_grande img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.Concierto_1 {
    grid-area: Concierto_1;
    margin: 0px;
}

.Concierto_1 img {
    margin: 0px 0px 5px 0px;
}

/* Animacion */
.Concierto_1 img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.Concierto_2 {
    grid-area: Concierto_2;
    margin: 0px;
}

.Concierto_2 img {
    margin: 0px 0px 5px 0px;
}

/* Animacion */
.Concierto_2 img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.Concierto_3 {
    grid-area: Concierto_3;
    margin: 0px;
}

.Concierto_3 img {
    margin: 0px 0px 5px 0px;
}

/* Animacion */
.Concierto_3 img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.Concierto_4 {
    grid-area: Concierto_4;
    margin: 0px;
}

.Concierto_4 img {
    margin: 0px 0px 5px 0px;
}

/* Animacion */
.Concierto_4 img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.Concierto_5 {
    grid-area: Concierto_5;
    margin: 0px;
}

.Concierto_5 img {
    margin: 0px 0px 5px 0px;
}

/* Animacion */
.Concierto_5 img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.Concierto_6 {
    grid-area: Concierto_6;
    margin: 0px;
}

.Concierto_6 img {
    margin: 0px 0px 10px 0px;
}

/* Animacion */
.Concierto_6 img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

/* MediaQuerys */
/* Estrategia : Mobile First */

/* Dispositivos medianos (desktop) */
@media(min-width: 768px) {
    .grid_container_1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "Concierto_1_grande Concierto_1 Concierto_2 Concierto_3"
            "Concierto_1_grande Concierto_1 Concierto_2 Concierto_3"
            "Concierto_1_grande Concierto_4 Concierto_5 Concierto_6"
            "Concierto_1_grande Concierto_4 Concierto_5 Concierto_6";
    }

    .Concierto_1_grande img {
        margin: 10px 5px 10px 0px;
    }

    .Concierto_1 img {
        margin: 10px 5px 5px 5px;
    }

    .Concierto_2 img {
        margin: 10px 5px 5px 5px;
    }

    .Concierto_3 {
        margin-right: 0px;
    }

    .Concierto_3 img {
        margin: 10px 5px 5px 5px;
    }

    .Concierto_4 img {
        margin: 5px 5px 10px 5px;
    }

    .Concierto_5 img {
        margin: 5px 5px 10px 5px;
    }

    .Concierto_6 {
        margin-right: 0px;
    }

    .Concierto_6 img {
        margin: 5px 5px 10px 5px;
    }
}

/* Fans */
.titulo_fans{
    color: white;
    font-family: 'Pacifico', cursive;
}
.grid_container_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.75fr 1fr 0.48fr 1fr 0.75fr 1fr;
    grid-template-areas:
        "Fans_1 Fans_1 Fans_1 Fans_1"
        "Fans_2 Fans_2 Fans_3 Fans_3"
        "Fans_4 Fans_4 Fans_4 Fans_4"
        "Fans_5 Fans_5 Fans_5 Fans_5"
        "Fans_6 Fans_6 Fans_6 Fans_6"
        "Fans_7 Fans_7 Fans_8 Fans_8"
        "Fans_9 Fans_9 Fans_9 Fans_9";
    border: 1px #CA054D solid;
    border-radius: 5px;
    background-color: black;
}

.Fans_1 {
    grid-area: Fans_1;
    margin: 0px;
}

.Fans_1 img {
    margin: 10px 0px 5px 0px;
}

/* Animacion */
.Fans_1:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.Fans_2 {
    grid-area: Fans_2;
    margin: 0px;
}

.Fans_2 img {
    margin: 0px 0px 5px 0px;
}

/* Animacion */
.Fans_2:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.Fans_3 {
    grid-area: Fans_3;
    margin: 0px;
}

.Fans_3 img {
    margin: 0px 0px 5px 0px;
}

/* Animacion */
.Fans_3:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.Fans_4 {
    grid-area: Fans_4;
    margin: 0px;
}

.Fans_4 img {
    margin: 0px 0px 10px 0px;
}

/* Animacion */
.Fans_4:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.Fans_5 {
    grid-area: Fans_5;
    border: 1px black solid;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 0px 10px 0px;
    background-color: rgb(53, 27, 27);
}

.Fans_5 h2 {
    color: white;
    font-family: 'Pacifico', cursive;
    margin: 2px;
}

.Fans_5 p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.Fans_5 a {
    width: 100px;
    height: 30px;
    color: white;
    text-decoration: none;
    background-color: black;
    border-radius: 5px;
}

.Fans_5 a:hover {
    transform: scale(1.05);
    transition: 0.3s;
    color: #CA054D;
}

.Fans_6 {
    grid-area: Fans_6;
    margin: 0px;
}

.Fans_6 img {
    margin: 0px 0px 5px 0px;
}

/* Animacion */
.Fans_6:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.Fans_7 {
    grid-area: Fans_7;
    margin: 0px;
}

.Fans_7 img {
    margin: 0px 0px 5px 0px;
}

/* Animacion */
.Fans_7:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.Fans_8 {
    grid-area: Fans_8;
    margin: 0px;
}

.Fans_8 img {
    margin: 0px 0px 5px 0px;
}

/* Animacion */
.Fans_8:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.Fans_9 {
    grid-area: Fans_9;
    margin: 0px;
}

.Fans_9 img {
    margin: 0px 0px 10px 0px;
}

/* Animacion */
.Fans_9:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

/* MediaQuerys */
/* Estrategia : Mobile First */

/* Dispositivos medianos (desktop) */
@media(min-width: 768px) {
    .grid_container_2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "Fans_2 Fans_1 Fans_3"
            "Fans_4 Fans_5 Fans_6"
            "Fans_7 Fans_9 Fans_8";
    }

    .Fans_1 img {
        margin: 10px 0px 0px 0px;
    }

    .Fans_2 img {
        margin: 10px 0px 0px 0px;
    }

    .Fans_3 img {
        margin: 10px 0px 0px 0px;
    }

    .Fans_4 img {
        margin: 10px 0px 10px 0px;
    }

    .Fans_5 {
        margin: 10px;
    }

    .Fans_6 img {
        margin: 10px 0px 10px 0px;
    }

    .Fans_7 img {
        margin: 0px 0px 10px 0px;
    }

    .Fans_8 img {
        margin: 0px 0px 10px 0px;
    }

    .Fans_9 img {
        margin: 0px 0px 10px 0px;
    }
}

/* Albumes */
.bloque_album {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bloque_album h2 {
    color: white;
    font-family: 'Pacifico', cursive;
}

.grid_container_3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "album_1"
        "album_2"
        "album_3";

}

.album_1 {
    grid-area: album_1;
}

.album_2 {
    grid-area: album_2;
}

.album_3 {
    grid-area: album_3;
}

.grid_container_3 div iframe {
    width: 95%;
    height: 350px;
    margin: 10px 0px 10px 0px;
}

.grid_container_4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "album_4"
        "album_5"
        "album_6";

}

.album_4 {
    grid-area: album_4;
}

.album_5 {
    grid-area: album_5;
}

.album_6 {
    grid-area: album_6;
}

.grid_container_4 div iframe {
    width: 95%;
    height: 350px;
    margin: 10px 0px 10px 0px;
}

.bloque_canciones {
    text-align: center;
}

.bloque_canciones h2 {
    color: white;
    font-family: 'Pacifico', cursive;
}

.bloque_canciones div iframe {
    margin: 10px 0px 10px 0px;
}

/* MediaQuerys */
/* Estrategia : Mobile First */

/* Dispositivos medianos (desktop) */
@media(min-width: 768px) {
    .grid_container_3 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "album_1 album_2 album_3";

    }

    .grid_container_4 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "album_4 album_5 album_6";
    }

    .bloque_canciones div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .bloque_canciones div iframe {
        width: 32%;
    }
}

/* Premios */
.titulo_1_premios{
    color: white;
    font-family: 'Pacifico', cursive;
}

.grid_container_5 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "foto_premios_1"
        "foto_premios_2"
        "foto_premios_3";
        border: 1px #CA054D solid;
        border-radius: 12px ;
        background-color: black;
}

.foto_premios_1 {
    grid-area: foto_premios_1;
    margin: 0px;
}

.foto_premios_2 {
    grid-area: foto_premios_2;
    margin: 0px;
}

.foto_premios_3 {
    grid-area: foto_premios_3;
    margin: 0px;
}

.foto_premios{
    margin: 10px 0px 0px 0px;
}
.foto_premios_3 img{
    margin: 10px 0px 10px 0px;
}
.foto_premios:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.accordion-button {
    background-color: black;
    color: white;
    height: 75px;
}

.accordion-button:not(.collapsed) {
    background-color: black;
    color: white;
}

.accordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen_acordeon {
    padding: 0px;
    width: 80%;
}

.accordion-body {
    text-align: center;
}

.accordion-item:first-of-type {
    width: 88%;
}

.accordion-item:not(:first-of-type) {
    width: 88%;
}

.titulo_premios:hover {
    color: #CA054D;
}

/* MediaQuerys */
/* Estrategia : Mobile First */

/* Dispositivos medianos (desktop) */
@media(min-width: 768px){
    .grid_container_5 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "foto_premios_1 foto_premios_2 foto_premios_3"
            "foto_premios_1 foto_premios_2 foto_premios_3"
            "foto_premios_1 foto_premios_2 foto_premios_3";
    }
    .foto_premios{
        margin: 10px 0px 10px 0px;
    }
}